<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>上海气象站点数据可视化</title>
  <link rel="stylesheet" type="text/css" href="../static/content/main.css" />

  <script type="text/javascript" src="../static/scripts/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="../static/scripts/vue.js"></script>
  <script type="text/javascript" src="../static/scripts/axios.min.js"></script>


  <!-- 引入样式 -->
  <link rel="stylesheet" type="text/css" href="../static/element-ui/index.css">
  <!-- 引入组件库 -->
  <script type="text/javascript" src="../static/element-ui/index.js"></script>



  <link rel="stylesheet" href="../static/scripts/leaflet.css" />
  <script src="../static/scripts/leaflet.js"></script>
  <script src="https://cdn.bootcss.com/proj4js/2.4.3/proj4.js"></script>
  <script src="https://cdn.bootcss.com/proj4leaflet/1.0.1/proj4leaflet.min.js"></script>
  <script type="text/javascript" src="../static/scripts/leaflet.ChineseTmsProviders.js"></script>
  <script type="text/javascript" src="../static/scripts/echarts/echarts.js"></script>
  <script type="text/javascript"
    src="https://webapi.amap.com/maps?v=1.4.15&key=06ae639ea3db42b29d6dfbe592ebaa9f"></script>

  <script type="text/javascript" src="../static/scripts/main.js"></script>

  <style>
    .active {
      color: red;
    }
  </style>
</head>

<body onLoad="onLoad()">
  <div id="basemap" class="base1">
  <el-button type="success" icon="el-icon-sunny" @click="showweatherInfo" id="weather-button" circle></el-button>
  <div class="weather-info"> 你说说为啥 </div>

  </div>

  <!-- 这是一个卫星影像切换的按钮 -->
  <div class="transbase" id="switchbt">
    <el-switch v-model="value" active-text='卫星影像' inactive-text='' @change='changelay(value)'></el-switch>
  </div>

  <!-- 左侧状态栏定义 -->
  <el-col :span="12" id="navMenu">
    <el-menu default-active="0" class="el-menu-vertical-left" @open="handleOpen" @close="handleClose"
      background-color="#545c64" text-color="#fff" active-text-color="#fff">
      <!--#ffd04b -->
      <template>
        <div class="usricon">
          <h2>
            <el-avatar icon="el-icon-user-solid" :size="60" id="usricon-avator"></el-avatar>
            <h2>
        </div>
      </template>
      <el-submenu index="1">
        <template slot="title">
          <i class="el-icon-menu"></i>
          <span>用户未登录</span>
        </template>
        <el-menu-item-group>
          <template slot="title">事件操作</template>
          <el-menu-item index="1-1">添加事件点</el-menu-item>
          <el-menu-item index="1-2">删除事件点</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="分组2">
          <el-menu-item index="1-3">显示事件</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="1-4">
          <template slot="title">取消事件显示</template>
          <el-menu-item index="1-4-1">选项1</el-menu-item>
        </el-submenu>
      </el-submenu>
      <el-menu-item index="2" v-on:click="showStation">
        <i class="el-icon-location"></i>
        <span slot="title">站点显示</span>
      </el-menu-item>
      <el-menu-item index="3" disabled>
        <i class="el-icon-document"></i>
        <span slot="title">TIFF文件读取</span>
      </el-menu-item>
      <el-menu-item index="4" @click="showStatis">
        <i class="el-icon-setting"></i>
        <span slot="title">统计数据</span>
      </el-menu-item>
    </el-menu>
  </el-col>
  </el-row>
  <!-- 定义一个站点label条 -->
  <div class="aqi-labels" id="class-lable">
    <table>
      <tbody>
        <tr>
          <td style="background-color:#009966">
            <el-popover placement="top-start" title="优" width=200 trigger="hover" class="aqi-label"
              content="空气污染指数为0－50，空气质量级别为I级，空气质量状况属于优。此时不存在空气污染问题，对公众的健康没有任何危害。">
              <el-button style="background-color:#009966;color:white;border:1px solid #009966;padding:0px;"
                class="aqi-label-button" slot="reference">优</el-button>
            </el-popover>
          </td>
          <td>
            <el-popover placement="top-start" title="良" width=200 trigger="hover" class="aqi-label"
              content="空气污染指数为51－100，空气质量级别为Ⅱ级，空气质量状况属于良。此时空气质量被认为是可以接受的，除极少数对某种污染物特别敏感的人以外，对公众健康没有危害。">
              <el-button style="background-color:#ffde33;color:white;border:1px solid #ffde33;padding:0px;"
                class="aqi-label-button" slot="reference">良</el-button>
          </td>
          <td>
            <el-popover placement="top-start" title="轻度污染" width=200 trigger="hover" class="aqi-label"
              content="空气污染指数为101－150，空气质量级别为Ⅲ⑴级，空气质量状况属于轻微污染。此时，对污染物比较敏感的人群，例如儿童和老年人、呼吸道疾病或心脏病患者，以及喜爱户外活动的人，他们的健康状况会受到影响，但对健康人群基本没有影响。">
              <el-button style="background-color:#ff9933;color:white;border:1px solid #ff9933;padding:0px;"
                class="aqi-label-button" slot="reference">轻度污染</el-button>
          </td>
          <td>
            <el-popover placement="top-start" title="中度污染" width=200 trigger="hover" class="aqi-label"
              content="空气污染指数为151－200，空气质量级别为Ⅲ⑵级，空气质量状况属于轻度污染。此时，几乎每个人的健康都会受到影响，对敏感人群的不利影响尤为明显。">
              <el-button style="background-color:#cc0033;color:white;border:1px solid #cc0033;padding:0px;"
                class="aqi-label-button" slot="reference">中度污染</el-button>
          </td>
          <td>
            <el-popover placement="top-start" title="重度污染" width=200 trigger="hover" class="aqi-label"
              content="空气污染指数为201－300，空气质量级别为Ⅳ级，空气质量状况属于中度重污染。此时，每个人的健康都会受到比较严重的影响。">
              <el-button style="background-color:#660099;color:white;border:1px solid #660099;padding:0px;"
                class="aqi-label-button" slot="reference">重度污染</el-button>
          </td>
          <td>
            <el-popover placement="top-start" title="严重污染" width=200 trigger="hover" class="aqi-label"
              content="空气污染指数大于300，空气质量级别为V级，空气质量状况属于重度污染。此时，所有人的健康都会受到严重影响。">
              <el-button style="background-color:#7e0023;color:white;border:1px solid #7e0023;padding:0px;"
                class="aqi-label-button" slot="reference">严重污染</el-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- 定义站点弹出卡片 -->

  <el-card class="box-card" id="singlestation-box-card" v-show="showcard">
    <div slot="header" class="clearfix">
      站点信息
      <el-button style="float: right; padding: 3px 0" type="text" @click="closeCard">关闭</el-button>
    </div>
    <div v-for="o in 2" :key="o" :class="'text-item'+o" :id="'text-item'+o" style="height: 300px;width:560px">
    </div>
  </el-card>

  <transition name="el-fade-in-linear">
    <div class="statistic-echarts" id="statistic-echarts-carousel" v-show="isShow">

      <!--?????为何不行 -->
      <el-carousel :interval="5000" arrow="always" indicator-position="outside"
        style="height: 100%;width: 100%;border-radius: 10px;">
        <el-carousel-item v-for="item in 19" :key="item">
          <!-- 总共有十九个气象站点 -->
          <div :class="'radardiv'+item" :id="'radardiv'+item" style="height:100%;width:100%;"></div>
        </el-carousel-item>
      </el-carousel>

    </div>
  </transition>
  






</body>
<script>



</script>

</html>