<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>上海市大气环境监测数据可视化系统</title>
  <link rel="stylesheet" type="text/css" href="../static/content/main.css" />

  <script type="text/javascript" src="../static/scripts/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="../static/scripts/vue.js"></script>
  <script type="text/javascript" src="../static/scripts/axios.min.js"></script>


  <!-- 引入样式 -->
  <link rel="stylesheet" type="text/css" href="../static/element-ui/index.css">
  <!-- 引入组件库 -->
  <script type="text/javascript" src="../static/element-ui/index.js"></script>



  <link rel="stylesheet" href="../static/scripts/leaflet.css" />
  <script src="../static/scripts/leaflet.js"></script>
  <script src="https://cdn.bootcss.com/proj4js/2.4.3/proj4.js"></script>
  <script src="https://cdn.bootcss.com/proj4leaflet/1.0.1/proj4leaflet.min.js"></script>
  <script type="text/javascript" src="../static/scripts/leaflet.ChineseTmsProviders.js"></script>
  <script type="text/javascript" src="../static/scripts/echarts/echarts.js"></script>
  <script type="text/javascript"
    src="https://webapi.amap.com/maps?v=1.4.15&key=06ae639ea3db42b29d6dfbe592ebaa9f"></script>



  <style>
    .active {
      color: red;
    }
  </style>
</head>

<body onLoad="onLoad()">
  <div id="basemap" class="base1">
    <!-- 定义一个站点label条 -->
    <div class="aqi-labels" id="class-lable" v-cloak style="display: none;">
      <table>
        <tbody>
          <tr>
            <td style="background-color:#009966">
              <el-popover placement="top-start" title="优" width=200 trigger="hover" class="aqi-label"
                content="空气污染指数为0－50，空气质量级别为I级，空气质量状况属于优。此时不存在空气污染问题，对公众的健康没有任何危害。">
                <el-button style="background-color:#009966;color:white;border:1px solid #009966;padding:0px;"
                  class="aqi-label-button" slot="reference">优</el-button>
              </el-popover>
            </td>
            <td>
              <el-popover placement="top-start" title="良" width=200 trigger="hover" class="aqi-label"
                content="空气污染指数为51－100，空气质量级别为Ⅱ级，空气质量状况属于良。此时空气质量被认为是可以接受的，除极少数对某种污染物特别敏感的人以外，对公众健康没有危害。">
                <el-button style="background-color:#ffde33;color:white;border:1px solid #ffde33;padding:0px;"
                  class="aqi-label-button" slot="reference">良</el-button>
            </td>
            <td>
              <el-popover placement="top-start" title="轻度污染" width=200 trigger="hover" class="aqi-label"
                content="空气污染指数为101－150，空气质量级别为Ⅲ⑴级，空气质量状况属于轻微污染。此时，对污染物比较敏感的人群，例如儿童和老年人、呼吸道疾病或心脏病患者，以及喜爱户外活动的人，他们的健康状况会受到影响，但对健康人群基本没有影响。">
                <el-button style="background-color:#ff9933;color:white;border:1px solid #ff9933;padding:0px;"
                  class="aqi-label-button" slot="reference">轻度污染</el-button>
            </td>
            <td>
              <el-popover placement="top-start" title="中度污染" width=200 trigger="hover" class="aqi-label"
                content="空气污染指数为151－200，空气质量级别为Ⅲ⑵级，空气质量状况属于轻度污染。此时，几乎每个人的健康都会受到影响，对敏感人群的不利影响尤为明显。">
                <el-button style="background-color:#cc0033;color:white;border:1px solid #cc0033;padding:0px;"
                  class="aqi-label-button" slot="reference">中度污染</el-button>
            </td>
            <td>
              <el-popover placement="top-start" title="重度污染" width=200 trigger="hover" class="aqi-label"
                content="空气污染指数为201－300，空气质量级别为Ⅳ级，空气质量状况属于中度重污染。此时，每个人的健康都会受到比较严重的影响。">
                <el-button style="background-color:#660099;color:white;border:1px solid #660099;padding:0px;"
                  class="aqi-label-button" slot="reference">重度污染</el-button>
            </td>
            <td>
              <el-popover placement="top-start" title="严重污染" width=200 trigger="hover" class="aqi-label"
                content="空气污染指数大于300，空气质量级别为V级，空气质量状况属于重度污染。此时，所有人的健康都会受到严重影响。">
                <el-button style="background-color:#7e0023;color:white;border:1px solid #7e0023;padding:0px;"
                  class="aqi-label-button" slot="reference">严重污染</el-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <!-- 这是一个卫星影像切换的按钮 -->
  <div class="transbase" id="switchbt">
    <el-switch v-model="value" active-text='卫星影像' inactive-text='' @change='changelay(value)'></el-switch>
  </div>

  <!-- 左侧状态栏定义 -->
  <el-col :span="12" id="navMenu">
    <el-menu default-active="0" class="el-menu-vertical-left" @open="handleOpen" @close="handleClose"
      background-color="#545c64" text-color="#fff" active-text-color="#fff">
      <div style="height: 65px;background-color: #545c64;text-align: center;">
        <img style="text-align: center; height: 100%;width:100%" src="../static/img/上海市大气环境监测可视化系统.png"></img>
      </div>
      <!--#ffd04b -->
      <!-- <template> -->
      <div class="usricon" id="usricon" @click="openLogin">
        <h2 id="usricon-avator-h">
          <!-- <el-avatar icon="el-icon-user-solid" :size="60" id="usricon-avator" :key=1 style="display:block"></el-avatar>  -->
          <!-- <el-avatar src="C:\Users\JokerLord\Desktop\毕业论文\Visualization-of-Metrological-Station-Data-in-Shanghai\webgis\static\img\smile.jpg" :size="60" id="usricon-avator"></el-avatar> -->
          <el-avatar :size="60" id="usricon-avator2" :src=picpath :key=2></el-avatar>
          <h2>
      </div>
      <!-- </template> -->
      <el-submenu index="1">

        <template id="usrname" slot="title">
          <i class="el-icon-menu"></i>
          <span id="imloser">你好，用户未登录</span> <!-- 对不起我放弃了 我实在不知道怎么在slot内部的子组件上使用mustache插值语法 /(ㄒoㄒ)/~~  -->
        </template>

        
        <el-menu-item index="1-1" @click="addPoint">添加兴趣点</el-menu-item>
        <el-menu-item index="1-2" @click="showEvent">显示兴趣点</el-menu-item>

      </el-submenu>

      <el-submenu index="2">
        <template id="stshow" slot="title">
          <i class="el-icon-location"></i>
          <span id="stashow">监测数据显示</span>
        </template>
        <el-menu-item-group>

          <el-menu-item index="2-1" v-on:click="showStation">站点数据显示</el-menu-item>

          <el-menu-item index="2-2" v-on:click="showIDW">插值数据显示</el-menu-item>
        </el-menu-item-group>

      </el-submenu>

      <!-- <el-menu-item index="2" v-on:click="showStation">
        <i class="el-icon-location"></i>
        <span slot="title">监测数据显示</span>
      </el-menu-item> -->

      <el-menu-item index="3" @click="showStatis">
        <i class="el-icon-setting"></i>
        <span slot="title">AQI指标雷达图</span>
      </el-menu-item>

      <el-menu-item index="4" @click="readTiff">
        <i class="el-icon-document"></i>
        <span slot="title">TIFF文件读取</span>
      </el-menu-item>

    </el-menu>
  </el-col>

  <!-- 定义一个插值数据显示的对话框 -->
  <el-dialog title="插值数据显示" id="selecttif" :visible.sync="selectDialogVisible" width="20%" center>
    <span  style="text-align: center; vertical-align: middle;line-height:50px ;">请选择一个指标进行显示</span><br>
    <el-select v-model="value" placeholder="指标3">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>
    
    <span slot="footer" class="dialog-footer" style="text-align: center; vertical-align: middle;">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="selectgTif">确 定</el-button>
    </span>
  </el-dialog>



  <!-- 定义一个geotiff读取的对话框 -->
  <el-dialog title="TIFF文件读取" id="tiffread" :visible.sync="tiffDialogVisible" width="30%" center>
    <span v-text="info" style="text-align: center; vertical-align: middle;line-height:50px ;"></span><br>
    <el-autocomplete class="url-input" v-model="tifurl" :fetch-suggestions="queryUrl" placeholder="请输入url"
      @select="handleSelect" width="100%">

    </el-autocomplete>
    <br>
    <span style="text-align: center; vertical-align: middle;line-height:50px ;">请选择绘图值的范围</span><br>

    <el-slider
      v-model="displayMinmax"
      range
      show-stops
      :max="256"
      :min="0"
      :marks="marks">
    </el-slider>

    <br>
    <span slot="footer" class="dialog-footer" style="text-align: center; vertical-align: middle;">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="readgTiff(' ')">读 取</el-button>
    </span>
  </el-dialog>



  <!-- 定义一个登录界面的对话框 -->
  <el-dialog title="用户登录" id="login-1" :visible.sync="centerDialogVisible" width="30%" center>
    <span v-text="info" style="text-align: center; vertical-align: middle;"></span><br>
    <span slot="footer" class="dialog-footer" style="text-align: center; vertical-align: middle;">
      <el-button @click="register">注 册</el-button>
      <el-button type="primary" @click="loggin">登 录</el-button>
    </span>
  </el-dialog>

  <!-- 点击注册按钮后会显示出来的 -->
  <div id="register-form" style="display:none">
    <!--v-show="registerFormVisible" style="display:inline-block" -->
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="register-ruleForm">
      <el-form-item label="昵称" prop="name">
        <el-input v-model.number="ruleForm.name"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="pass">
        <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="确认密码" prop="checkPass">
        <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('ruleForm')">注册</el-button>
        <el-button @click="resetForm('ruleForm')">重置</el-button>
        <el-button @click="cancel">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
  <!-- 点击登录按钮后会显示出来的 -->
  <div id="login-form" style="display:none">
    <!--v-show="registerFormVisible" style="display:inline-block" -->
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="login-ruleForm">
      <el-form-item label="昵称" prop="name">
        <el-input v-model.number="ruleForm.name"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="pass">
        <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('ruleForm')">确认登录</el-button>
        <el-button @click="cancel">取消</el-button>
      </el-form-item>
    </el-form>
  </div>



  <!-- 定义站点弹出卡片 -->

  <el-card class="box-card" id="singlestation-box-card" v-show="showcard">
    <div slot="header" class="clearfix">
      站点信息
      <el-button style="float: right; padding: 3px 0" type="text" @click="closeCard">关闭</el-button>
    </div>
    <div v-for="o in 2" :key="o" :class="'text-item'+o" :id="'text-item'+o" style="height: 300px;width:560px">
    </div>
  </el-card>

  <transition name="el-fade-in-linear">
    <div class="statistic-echarts" id="statistic-echarts-carousel" v-show="isShow">

      <!--?????为何不行 -->
      <el-carousel :interval="5000" arrow="always" indicator-position="outside"
        style="height: 100%;width: 100%;border-radius: 10px;">
        <el-carousel-item v-for="item in 19" :key="item">
          <!-- 总共有十九个气象站点 -->
          <div :class="'radardiv'+item" :id="'radardiv'+item" style="height:100%;width:100%;"></div>
        </el-carousel-item>
      </el-carousel>

    </div>
  </transition>

  <!-- 天气按钮和定位按钮 -->
  <el-button type="success" icon="el-icon-sunny" @click="showweatherInfo" id="weather-button" circle></el-button>
  <el-button type="info" icon="el-icon-map-location" @click="setPosi" id="loco-button" circle></el-button>

  <div class="weather-info" style="display:none">
    <div id="today-info" style="height:200px;width:100%;">

    </div>
    <div id="forecast-echart" style="height:200px;width:250px;">

    </div>
  </div>

  <!-- 登录后显示事件时弹出的抽屉 -->
  <el-drawer :visible.sync="drawer" :with-header="false" :modal="false" id="eventDrawer" :size=400
    style="z-index:9999;text-align: center; opacity: 0.9;" :append-to-body="true" :close-on-click-modal="false">
    <!-- :destroy-on-close="true" -->
    <!-- <span>我来啦大抽屉!</span> -->
    <el-card v-for="o in eventCounts" :class="'drawer-card'+o" :id="'drawer-card'+o" shadow="hover"
      style="height: 200px;width:377px; margin: 7px 5px 7px 5px;border-radius: 5px;">
      <!-- <div style="height: 50px;width:370px;background-color: #545c64;color: white; margin: 0px; text-align: center;vertical-align: middle;font-size: 15px;">
        <span v-text="title" style="display: inline-block;text-align: center;vertical-align: middle">
        </span>

        <el-button type="primary" icon="el-icon-delete" size="small" style="position: absolute;right: 2px;top:2px;display: inline-block;"></el-button> -->
      <div slot="header" class="clearfix" :id="'drawerc-header'+o" :key="o"
        style="color: white; padding: 0px 0px;background-color:#545c64; background-color: rgb(84, 92, 100);opacity: 0.89;">
        <span :id="'drawerc-headerspan'+o"></span>
        <el-button style="float: right; padding: 3px 0;right:4px;" type="text" @click.stop="delcard(o)">删除</el-button>
      </div>
      <p style="font-size:14px;line-height: 22px;text-align: left;margin: 8px 6px 8px 6px;" :id="'drawerc-p'+o">


      </p>


    </el-card>

    <hr align="center" color="#987cb9" size=1 :key="o">

  </el-drawer>

  <!-- 添加事件点时弹出的card -->
  <!-- <el-card class="event-card" id="event-card" shadow="hover" v-show="isShow"> -->

  <div class="event-card" id="event-card" style="display:none">


    <div id="event-form">

      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="150px" class="event-ruleForm">
        <el-form-item label="兴趣点类型" prop="ptype">
          <el-select v-model="ruleForm.ptype" clearable filterable placeholder="选择点类型">
            <el-option v-for="item in pointtypes" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="兴趣点名" prop="pname">
          <el-input v-model="ruleForm.pname" autocomplete="off" id="pname"></el-input>
        </el-form-item>
        <el-form-item label="经度(longitude)" prop="longitude">
          <el-input v-model="ruleForm.longitude" autocomplete="off" id="ruleFormLon"></el-input>
        </el-form-item>
        <el-form-item label="纬度(latitude)" prop="latitude">
          <el-input v-model="ruleForm.latitude" autocomplete="off" id="ruleFormLat"></el-input>
        </el-form-item>
        <el-form-item label="事件记录" prop="eventRecor">
          <el-input type="textarea" v-model="ruleForm.eventRecor" style="min-height: 40px;"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')" size="small">添加兴趣点</el-button>
          <el-button @click="Dlocation('ruleForm')" size="small">定位</el-button>
          <el-button @click="canceladd" size="small">取消</el-button>
        </el-form-item>

      </el-form>
    </div>
  </div>


  <!-- </el-card> -->


  <!--deps-->
  <script src="https://unpkg.com/geotiff@1.0.0-beta.7/dist/geotiff.bundle.js"></script>
  <script src="https://unpkg.com/plotty@0.4.4/dist/plotty.js"></script>
  <script type="text/javascript" src="../static/scripts/leaflet-geotiff.js"></script>
  <script type="text/javascript" src="../static/scripts/leaflet-geotiff-plotty.js"></script>
  <script type="text/javascript" src="../static/scripts/leaflet-geotiff-vector-arrows.js"></script>
  <script type="text/javascript" src="../static/scripts/leaflet-geotiff-rgb.js"></script>
</body>
<script type="text/javascript" src="../static/scripts/main.js"></script>


</html>